<%= form_tag "session/login", :name => "login_form" do %>
  <div>  
    <%= label_tag 'username_field', 'Username'%>  
    <%= text_field_tag :username_field %>
  </div>
  <div>
    <%= label_tag 'password_field', 'Password'%>  
    <%= text_field_tag :password_field %>
  </div>
  <div>
    <%= select_tag "account_type", options_for_select([ "Administrator", "Nurse" ], "Nurse") %>
  </div>
  <div>  
    <%= submit_tag "login", class: 'login_button' %>
  </div>    
<% end %>