<div class="container">
  <h2>Administer Medication</h2>

  <%= form_tag do %>
    <div class="form-group">
      <%= label_tag :select_student, "Student" %>
      <%= select_tag :select_student, options_from_collection_for_select(@student_options, 'id', 'full_name'), class: %w[form-control input-lg], :prompt => "Select a student" %>
    </div>

    <div class="form-group">
      <%= label_tag :select_school_medication, "School Medication" %>
      <%= select_tag :select_school_medication, options_from_collection_for_select(@school_medication_options, 'id', 'medication_name'), class: %w[form-control input-lg] %>
    </div>

    <div class="form-group">
      <%= label_tag :select_student_medication, "Student Medication" %>
      <%= select_tag :select_student_medication, nil, class: %w[form-control input-lg] %>
    </div>

    <div class="form-group">
      <%= label_tag :dosage, "Dosage" %>
      <%= number_field_tag :dosage, 1, min: 1, class: %w[form-control input-lg]%>
    </div>

    <div class="form-group">
      <%= label_tag :time, "Date/Time" %>
      <%= datetime_local_field_tag :time, nil, class: %w[form-control input-lg] %>
    </div>

    <div class="form-group">
      <%= label_tag :comment, "Comment" %>
      <%= text_area_tag :comment, nil, class: %w[form-control input-lg] %>
    </div>

    <div class="form-group">
      <%= submit_tag "Administer Medication", class: %w[btn btn-primary] %>
    </div>
  <% end %>
</div>

<script>

  // accepts an array of StudentMedication objects in json format
  const updateStudentMedications = (student_medications_json) => {

      const student_medication_select = $("#select_student_medication")
      student_medication_select.empty();

      // maps through the sutdent medications json array, creates an array of <option> html elements
      // that each have the medication name as their text and medication id as their value
      const student_medication_options = student_medications_json.map(med => {
          let option = document.createElement("option");
          option.text = med.medication_name;
          option.value = med.id;

          return option
      });

      // put all the previously created <option> elements into the student medication select tag
      student_medication_select.append(student_medication_options);
  }

  $("#select_student").change((event) => {
      let student_id = event.target.value;

      // check that student_id is not empty in case the prompt is selected again
      if (student_id) {
          $.ajax({
              url: `/student_medications/student/${student_id}`,
              success: updateStudentMedications
          })
      }
  })

</script>