<!-- Links to Other Nurse Actions -->
<div class="row">
  <div class = "col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2 btn-group-vertical">

    <%= link_to 'Administer Medicine', "administer", {class: 'nurse-homepage-button btn btn-primary', type: 'button'} %>
    <%= link_to 'Inventory', "inventory", {class: 'nurse-homepage-button btn btn-primary', type: 'button'} %>
    <%= link_to 'Reports/Logs', "reports", {class: 'btn btn-primary nurse-homepage-button', type: 'button'} %>
    <%= link_to 'Send Consent Form', "consent_forms", {class: 'btn btn-primary nurse-homepage-button', type: 'button'} %>

  </div>

  <div class = "col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2 nurse-alert">
    <h3 class = "nurse-alert-header">Inventory Alerts:</h3>
    <% @meds_in_low_supply.each do |medicine| %>
      <p>
        Medication Name: <%= medicine.medication_name %><br>
        Quantity Remaining: <%= medicine.quantity %> <%= medicine.unit %><br><br>
      </p>
    <% end %>

    <% if @meds_in_low_supply.blank? == true %>
      <p><br>All medications are fully stocked.<br><br></p>
    <% end %>

  </div>

</div>