<div class="container">
  <h2>Add Student</h2>

  <%= form_tag do %>
    <div class="form-group form-control-sm">
      <%= label_tag :student_name, "Name" %>
      <%= text_field_tag :student_name, nil, class: %w[form-control] %>
    </div>

    <div class="form-group">
      <%= label_tag :school_id, "School ID" %>
      <%= number_field_tag :school_id, nil, class: %w[form-control] %>
    </div>

    <div class="form-group">
      <%= label_tag :date_of_birth, "Date of Birth" %>
      <%= date_field_tag :date_of_birth, nil, class: %w[form-control] %>
    </div>

    <div class="form-group">
      <%= label_tag :parent_email, "Parent Email" %>
      <%= email_field_tag :parent_email, nil, class: %w[form-control] %>
    </div>

    <div class="form-group">
      <%= submit_tag "Add Student", class: %w[btn btn-primary] %>
    </div>

  <% end %>
</div>