
<table id="poll_table" style="width:700px;margin:0 auto;font-size:20px;position:relative;" class="table table-striped table-sm">
  <thead>
  <tr>
    <th scope="col">Role</th>
    <th scope="col">Name</th>
    <th scope="col" >Email Address</th>
  </tr>
  </thead>

  <tbody>

    <% @unapproved_nurses.each do |nurse| %>
      <tr class="active" id="nurse-<%= nurse.email %>">
        <td>Nurse</td>
        <td><%= nurse.full_name %></td>
        <td><%= nurse.email %></td>
        <td><%= button_tag "Approve Access".html_safe, {class: 'btn btn-primary', type: 'button', id: "nurse-" + nurse.email, onclick: "approveAccount(this)"} %></td>
      </tr>
    <% end %>

    <% @unnaproved_admins.each do |admin| %>
    <tr class="active" id="admin-<%= admin.email %>">
      <td>Administrator</td>
      <td><%= admin.full_name %></td>
      <td><%= admin.email %></td>
      <td><%= button_tag "Approve Access".html_safe, {class: 'btn btn-primary', type: 'button', id: "admin" + admin.email, onclick: "approveAccount(this)"} %></td>
    </tr>
    <% end %>

    <% @approved_nurses.each do |nurse| %>
    <tr class="active" id="<%= nurse.email %>">
      <td><%= nurse.full_name %></td>
      <td><%= nurse.email %></td>
      <td>Account Approved</td>
    </tr>
  <% end %>

  <% @approved_admins.each do |admin| %>
    <tr class="active" id="admin-<%= admin.email %>">
      <td>Administrator</td>
      <td><%= admin.full_name %></td>
      <td><%= admin.email %></td>
      <td>Account Approved</td>
    </tr>
  <% end %>

  </tbody>

</table>

<% content_for :approve_accounts_javascript do %>
  <%= javascript_include_tag "ApproveAccounts.js" %>
<% end %>

