
<h2 style="margin: auto;width: 50%;text-align: center;border: 3px black;padding: 80px;font-weight: bold;"> <%= @student[0].full_name %>'s Consent Form</h2>


<h2 style="margin: auto;width: 50%;text-align: center;border: 3px black;padding: 80px;font-weight: bold;position:relative;top:-100px;left:-400px;"> Approved Prescription Medications</h2>
<h2 style="margin: auto;width: 50%;text-align: center;border: 3px black;padding: 80px;font-weight: bold;position:relative;top:-295px;left:400px;"> Approved School Medications </h2>

<div style="height:200px">
<table id="poll_table" style="width:400px;margin:0 auto;font-size:20px;position:relative;top:-350px;left:-400px;table-layout: fixed" class="table table-striped table-sm">
<!--<table id="poll_table" style="width:400px;margin:0 auto;font-size:20px;position:absolute;left:0px;table-layout: fixed" class="table table-striped table-sm">-->

  <thead>
    <tr>
      <th scope="col" style="width:200px">Medication Name</th>
      <th scope="col" style="width:300px">Approval Notes</th>
      <th scope="col" style="width:200px"></th>
    </tr>
  </thead>

  <tbody>

  <% @approved_student_meds.each do |asm| %>
    <tr class="active">
      <td><%= asm.medication_name %></td>
      <td></td>

      <td align="right">
        <%#= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "disapprove_medication?student_id="+@student[0].id.to_s+"&med_type=student&medication_id="+asm.id.to_s, {class: 'btn btn-danger', type: 'button'} %>
        <%= form_tag "/parent/disapprove_medication" do %>
          <%= hidden_field_tag :med_type, "student" %>
          <%= hidden_field_tag :medication_id, asm.id.to_s %>
          <%= hidden_field_tag :student_id, @student[0].id.to_s %>


          <%= submit_tag "Disapprove", class: %w[btn btn-danger] %>
        <% end %>

          </td>
    </tr>
  <% end %>
    <tr class="active">
      <%= form_tag "/parent/approve_medication" do %>
        <%= hidden_field_tag :med_type, "student" %>
        <%= hidden_field_tag :student_id, @student[0].id.to_s %>
        <td>
        <div class="input-group">
          <%= select_tag :medication_id, options_for_select(@non_approved_student_meds.collect{ |nasm| [nasm.medication_name, nasm.id]}), class: %w[form-control input-lg] %>
        </div>
      </td>
      <td></td>
      <td align="right">
        <%= submit_tag "Approve Medication", class: %w[btn btn-primary] %>
      </td>
      <% end %>
    </tr>
</table>
</div>

<table id="poll_table" style="width:400px;margin:0 auto;font-size:20px;position:relative;top:-550px;left:400px;table-layout: fixed" class="table table-striped table-sm">
  <thead>
  <tr>
    <th scope="col" style="width:200px">Medication Name</th>
    <th scope="col" style="width:300px">Approval Notes</th>
    <th scope="col" style="width:200px"></th>
  </tr>
  </thead>

  <tbody>

  <% @approved_school_meds.each do |asm| %>
    <tr class="active">
      <td><%= asm.medication_name %></td>
      <td></td>
      <td align="right">
        <%#= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "disapprove_medication?student_id="+@student[0].id.to_s+"&med_type=school&medication_id="+asm.id.to_s, {class: 'btn btn-danger', type: 'button'} %>
        <%= form_tag "/parent/disapprove_medication" do %>
          <%= hidden_field_tag :med_type, "school" %>
          <%= hidden_field_tag :medication_id, asm.id.to_s %>
          <%= hidden_field_tag :student_id, @student[0].id.to_s %>
          <%= submit_tag "Disapprove", class: %w[btn btn-danger] %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr class="active">
    <%= form_tag "/parent/approve_medication" do %>
      <%= hidden_field_tag :med_type, "school" %>
      <%= hidden_field_tag :student_id, @student[0].id.to_s %>
      <td>
        <div class="input-group">
          <%= select_tag :medication_id, options_for_select(@non_approved_school_meds.collect{ |nasm| [nasm.medication_name, nasm.id]}), class: %w[form-control input-lg] %>
        </div>
      </td>
      <td></td>
      <td align="right">
        <%= submit_tag "Approve Medication", class: %w[btn btn-primary] %>
      </td>
    <% end %>
  </tr>
</table>
