<table id="table-style" class="table table-striped table-sm">
  <thead>
  <tr>
    <th scope="col">Medication Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Type</th>
    <th scope="col">Administered By</th>
    <th scope="col">Date</th>

  </tr>
  </thead>

  <tbody>

  <% @med_transactions.each do |med_transaction| %>
    <tr class="active">
      <td><%= med_transaction["med_name"] %></td>
      <td><%= med_transaction["amount"] %>  <%= med_transaction["units"] %></td>
      <td><%= med_transaction["type"] %></td>
      <td><%= med_transaction["nurse"] %></td>
      <td><%= med_transaction["time"] %></td>
    </tr>
  <% end %>

  </tbody>

</table>