<h1>Parent Inventory</h1>
<h2>Student(s): <%=@students[0].full_name %></h2>

<body>
<div class="row">

    <h3>Student Medications</h3>
    <div class="table-wrapper">
      <table id=student_inventory ; class="fixed_header">
        <thead>
        <tr>
          <th>medication_name</th>
          <th>quantity</th>
          <th>unit</th>
          <th>student_name</th>
        </tr>
        </thead>
        <tbody>
        <%@student_medications.each do |med| %>
          <tr>
            <td><%= med[:medication_name] %></td>
            <td><%= med[:quantity] %></td>
            <td><%= med[:unit] %></td>
            <td><%= med.student.full_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


</div>
</body>