<h1>Parent Inventory</h1>
<h2>Student(s): <%=@students[0].full_name %></h2>
<!--<head>-->
<!--  <style>-->

<!--      .fixed_header{-->
<!--          width:500px;-->
<!--          table-layout: fixed;-->
<!--          border-collapse: collapse;-->
<!--      }-->
<!--      .fixed_header tbody{-->
<!--          display:block;-->
<!--          width:100%;-->
<!--          overflow:auto;-->
<!--          height:500px;-->
<!--      }-->

<!--      .fixed_header thead tr{-->
<!--          display:block;-->
<!--      }-->

<!--      .fixed_header thead {-->
<!--          background:black;-->
<!--          color:#fff;-->
<!--      }-->

<!--      .fixed_header th, .fixed_header td {-->
<!--          padding:5px;-->
<!--          text-align: left;-->
<!--          width: 200px;-->
<!--      }-->

<!--      .fixed_header tbody tr:nth-of-type(even) {-->
<!--          background-color: #f3f3f3;-->
<!--      }-->
<!--      * {-->
<!--          box-sizing: border-box;-->
<!--      }-->
<!--      .column {-->
<!--          float: left;-->
<!--          width: 50%;-->
<!--          padding: 5px;-->
<!--      }-->
<!--      .row::after{-->
<!--          content: "";-->
<!--          clear: both;-->
<!--          display: table;-->
<!--          margin-left: -5px;-->
<!--          margin-right: -5px;-->
<!--      }-->
<!--      .table-wrapper {-->
<!--          height: 800px;-->
<!--          width: 550px;-->
<!--          padding: 0px;-->
<!--          margin: 0px auto 0px auto;-->
<!--          overflow: auto;-->
<!--      }-->

<!--      .fixed_header tbody tr:last-of-type {-->
<!--          border-bottom: 2px solid #000000;-->
<!--      }-->


<!--      h3 {-->
<!--          text-align: center;-->
<!--      }-->

<!--  </style>-->
<!--</head>-->
<body>
<div class="row">

    <h3>Student Medications</h3>
    <div class="table-wrapper">
      <table id=student_inventory ; class="fixed_header">
        <thead>
        <tr>
          <th>medication_name</th>
          <th>quantity</th>
          <th>unit</th>
          <th>student_name</th>
        </tr>
        </thead>
        <tbody>
        <%@student_medications.each do |med| %>
          <tr>
            <td><%= med[:medication_name] %></td>
            <td><%= med[:quantity] %></td>
            <td><%= med[:unit] %></td>
            <td><%= med.student.full_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


</div>
</body>