<!DOCTYPE html>
<html>
<head>
  <title>Selt2021Proj09</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%  if defined?(current_nurse.email) or defined?(current_parent.email) or defined?(current_parent.email) %>
        <a class="navbar-brand header" href="homepage">MedTracker</a>
      <% elsif request.fullpath.eql? '/' %>
        <a class="navbar-brand header" href="#">MedTracker</a>
      <% else %>
        <a class="navbar-brand header" href="/">MedTracker</a>
    <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(current_nurse.email) %>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nurse signed in as: <%= current_nurse.email %></a></li>
        <li> <%= link_to 'Log Out', destroy_nurse_session_path, method: :delete %> </li>
      <% elsif defined?(current_parent.email) %>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Parent signed in as: <%= current_parent.email %></a></li>
        <li> <%= link_to 'Log Out', destroy_parent_session_path, method: :delete %> </li>
      <% end %>
    </ul>
  </div>
</nav>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
  <%= yield %>

</body>
</html>
